* {
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	min-width: 280px;
	max-width: 100%;
	overflow-x: hidden;
	/*background-color: #0d0d0d;*/
	scroll-behavior: smooth;
}


.board {
	display: grid;
	grid-template-columns: repeat(3, 70px);
	grid-template-rows: repeat(3, 70px);
	grid-gap: 5px;
	margin: 0 auto;
}

.cell {
	width: 70px;
	height: 70px;
	border: 2px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}

body {
	text-align: center;
	display: flex;
	flex-flow: column;
	margin: auto;
	width: 500px;
	margin-top: 100px;
}

.start_button{
	margin: 20px;
}

.visibility{
	display: none;
}