* {
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	min-width: 280px;
	max-width: 100%;
	overflow-x: hidden;
	/*background-color: #0d0d0d;*/
	scroll-behavior: smooth;
}


.board {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 70px);
	grid-template-rows: repeat(3, 70px);
	grid-gap: 5px;
	margin: 0 auto;
}

.cell {
	width: 70px;
	height: 70px;
	border: 2px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}

body {
	text-align: center;
	display: flex;
	flex-flow: column;
	margin: auto;
	width: 500px;
	margin-top: 100px;
}

.start_button {
	margin: 20px;
}

.visibility {
	display: none;
}

.winLine {
	width: 5px;
	height: 200px;
	background-color: black;
	display: absolute;
	position: absolute;
	top: 0;
	left: 0;


	heigh/*t: 200px;
	transform: translate(105px, -65px) rotate(90deg);
	transform: translate(105px, 10px) rotate(90deg);
	transform: translate(105px, 85px) rotate(90deg);
	transform: translate(30px, 10px);
	transform: translate(105px, 10px);
	transform: translate(180px, 10px);

	height: 250px;
	transform: translate(105px, -10px) rotate(-45deg);
	transform: tr*/anslate(105px, -10px) rotate(45deg);

}